body {
  background: #000;
}

#map {
  width: 350px;
  margin: auto;
}

.mapRow {
  height: 66px;
  margin: 0 auto;
}

.mapColumn {
  border: 1px solid #666;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin-right: 6px;
  margin-bottom: 6px;
  float: left;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
}

.start {
  background: #00FFAA;
}

.end {
  background: #00AAFF;
}

.wall {
  background: #333;
}

.path {
  background: #FFFC00;
  border: 1px solid #FFFC00;
  -webkit-transition-property: transform, border;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -webkit-transition-duration: 250ms;
}

.animate {
  -webkit-transform: scale(1.25);
}